﻿@{
  ViewBag.Title = "Index";
  Layout = "../Shared/_Layout.cshtml";
}

<!-- MAIN CONTENT -->
<div id="Content">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
      <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> Home</span></h1>
    </div>

  </div>

  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-sm-12">
        <!-- new widget -->
        <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
          <!-- widget options:
          usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

          data-widget-colorbutton="false"
          data-widget-editbutton="false"
          data-widget-togglebutton="false"
          data-widget-deletebutton="false"
          data-widget-fullscreenbutton="false"
          data-widget-custombutton="false"
          data-widget-collapsed="true"
          data-widget-sortable="false"

          -->
          <header>
            <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
            <h2>Live Feeds </h2>
            <ul class="nav nav-tabs pull-right in" id="myTab">
              <li class="active">
                <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Live Stats</span></a>
              </li>
              <li>
                <a data-toggle="tab" href="#s2"><i class="fa fa-facebook"></i> <span class="hidden-mobile hidden-tablet">Expenses</span></a>
              </li>
              <li>
                <a data-toggle="tab" href="#s3"><i class="fa fa-dollar"></i> <span class="hidden-mobile hidden-tablet">Revenue</span></a>
              </li>
              <li>
                <a data-toggle="tab" href="#s4"><i class="fa fa-dollar"></i> <span class="hidden-mobile hidden-tablet">Trips</span></a>
              </li>
              <li>
                <a data-toggle="tab" href="#s5"><i class="fa fa-dollar"></i> <span class="hidden-mobile hidden-tablet">Delays</span></a>
              </li>
            </ul>
          </header>
          <!-- widget div-->
          <div class="no-padding">
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              test
            </div>
            <!-- end widget edit box -->
            <div class="widget-body">
              <!-- content -->
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                  <div class="row no-space">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                      <span class="demo-liveupdate-1">
                        <span class="onoffswitch-title">Live switch</span> <span class="onoffswitch">
                          <input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="start_interval">
                          <label class="onoffswitch-label" for="start_interval">
                            <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </span>
                      </span>
                      <div id="updating-chart" class="chart-large txt-color-blue"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                          <span class="text"> My Tasks <span class="pull-right">130/200</span> </span>
                          <div class="progress">
                            <div class="progress-bar bg-color-blueDark" style="width: 65%;"></div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                          <span class="text"> Transfered <span class="pull-right">440 GB</span> </span>
                          <div class="progress">
                            <div class="progress-bar bg-color-blue" style="width: 34%;"></div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                          <span class="text"> Bugs Squashed<span class="pull-right">77%</span> </span>
                          <div class="progress">
                            <div class="progress-bar bg-color-blue" style="width: 77%;"></div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                          <span class="text"> User Testing <span class="pull-right">7 Days</span> </span>
                          <div class="progress">
                            <div class="progress-bar bg-color-greenLight" style="width: 84%;"></div>
                          </div>
                        </div>
                        <span class="show-stat-buttons"> <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a href="javascript:void(0);" class="btn btn-default btn-block hidden-xs">Generate PDF</a> </span> <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a href="javascript:void(0);" class="btn btn-default btn-block hidden-xs">Report a bug</a> </span> </span>
                      </div>
                    </div>
                  </div>
                  <div class="show-stat-microcharts">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                      <div class="easy-pie-chart txt-color-orangeDark" data-percent="33" data-pie-size="50">
                        <span class="percent percent-sign">35</span>
                      </div>
                      <span class="easy-pie-title"> Server Load <i class="fa fa-caret-up icon-color-bad"></i> </span>
                      <ul class="smaller-stat hidden-sm pull-right">
                        <li>
                          <span class="label bg-color-greenLight"><i class="fa fa-caret-up"></i> 97%</span>
                        </li>
                        <li>
                          <span class="label bg-color-blueLight"><i class="fa fa-caret-down"></i> 44%</span>
                        </li>
                      </ul>
                      <div class="sparkline txt-color-greenLight hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                        130, 187, 250, 257, 200, 210, 300, 270, 363, 247, 270, 363, 247
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                      <div class="easy-pie-chart txt-color-greenLight" data-percent="78.9" data-pie-size="50">
                        <span class="percent percent-sign">78.9 </span>
                      </div>
                      <span class="easy-pie-title"> Disk Space <i class="fa fa-caret-down icon-color-good"></i></span>
                      <ul class="smaller-stat hidden-sm pull-right">
                        <li>
                          <span class="label bg-color-blueDark"><i class="fa fa-caret-up"></i> 76%</span>
                        </li>
                        <li>
                          <span class="label bg-color-blue"><i class="fa fa-caret-down"></i> 3%</span>
                        </li>
                      </ul>
                      <div class="sparkline txt-color-blue hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                        257, 200, 210, 300, 270, 363, 130, 187, 250, 247, 270, 363, 247
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                      <div class="easy-pie-chart txt-color-blue" data-percent="23" data-pie-size="50">
                        <span class="percent percent-sign">23 </span>
                      </div>
                      <span class="easy-pie-title"> Transfered <i class="fa fa-caret-up icon-color-good"></i></span>
                      <ul class="smaller-stat hidden-sm pull-right">
                        <li>
                          <span class="label bg-color-darken">10GB</span>
                        </li>
                        <li>
                          <span class="label bg-color-blueDark"><i class="fa fa-caret-up"></i> 10%</span>
                        </li>
                      </ul>
                      <div class="sparkline txt-color-darken hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                        200, 210, 363, 247, 300, 270, 130, 187, 250, 257, 363, 247, 270
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                      <div class="easy-pie-chart txt-color-darken" data-percent="36" data-pie-size="50">
                        <span class="percent degree-sign">36 <i class="fa fa-caret-up"></i></span>
                      </div>
                      <span class="easy-pie-title"> Temperature <i class="fa fa-caret-down icon-color-good"></i></span>
                      <ul class="smaller-stat hidden-sm pull-right">
                        <li>
                          <span class="label bg-color-red"><i class="fa fa-caret-up"></i> 124</span>
                        </li>
                        <li>
                          <span class="label bg-color-blue"><i class="fa fa-caret-down"></i> 40 F</span>
                        </li>
                      </ul>
                      <div class="sparkline txt-color-red hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                        2700, 3631, 2471, 2700, 3631, 2471, 1300, 1877, 2500, 2577, 2000, 2100, 3000
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end s1 tab pane -->

                <div class="tab-pane fade" id="s2">
                  <div class="widget-body-toolbar bg-color-white">
                    <form class="form-inline" role="form">
                      <div class="form-group">
                        <label class="sr-only" for="s123">Show From</label>
                        <input type="email" class="form-control input-sm" id="s123" placeholder="Show From">
                      </div>
                      <div class="form-group">
                        <input type="email" class="form-control input-sm" id="s124" placeholder="To">
                      </div>
                      <div class="btn-group hidden-phone pull-right">
                        <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown"><i class="fa fa-cog"></i> More <span class="caret"> </span> </a>
                        <ul class="dropdown-menu pull-right">
                          <li>
                            <a href="javascript:void(0);"><i class="fa fa-file-text-alt"></i> Export to PDF</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);"><i class="fa fa-question-sign"></i> Help</a>
                          </li>
                        </ul>
                      </div>
                    </form>
                  </div>
                  <div class="padding-10">
                    <div id="statsChart" class="chart-large has-legend-unique"></div>
                  </div>
                </div>
                <!-- end s2 tab pane -->

                <div class="tab-pane fade" id="s3">
                  <div class="widget-body-toolbar bg-color-white smart-form" id="rev-toggles">
                    <div class="inline-group">
                      <label for="gra-0" class="checkbox">
                        <input type="checkbox" name="gra-0" id="gra-0" checked="checked">
                        <i></i> Target
                      </label>
                      <label for="gra-1" class="checkbox">
                        <input type="checkbox" name="gra-1" id="gra-1" checked="checked">
                        <i></i> Actual
                      </label>
                      <label for="gra-2" class="checkbox">
                        <input type="checkbox" name="gra-2" id="gra-2" checked="checked">
                        <i></i> Signups
                      </label>
                    </div>
                    <div class="btn-group hidden-phone pull-right">
                      <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown"><i class="fa fa-cog"></i> More <span class="caret"> </span> </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="javascript:void(0);"><i class="fa fa-file-text-alt"></i> Export to PDF</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"><i class="fa fa-question-sign"></i> Help</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="padding-10">
                    <div id="flotcontainer" class="chart-large has-legend-unique"></div>
                  </div>
                </div>
                <!-- end s3 tab pane -->

                <div class="tab-pane fade" id="s4">
                  <div class="widget-body-toolbar bg-color-white smart-form" id="rev-toggles">
                    <div class="inline-group">
                      <label for="gra-0" class="checkbox">
                        <input type="checkbox" name="gra-0" id="gra-0" checked="checked">
                        <i></i> Target
                      </label>
                      <label for="gra-1" class="checkbox">
                        <input type="checkbox" name="gra-1" id="gra-1" checked="checked">
                        <i></i> Actual
                      </label>
                      <label for="gra-2" class="checkbox">
                        <input type="checkbox" name="gra-2" id="gra-2" checked="checked">
                        <i></i> Signups
                      </label>
                    </div>
                    <div class="btn-group hidden-phone pull-right">
                      <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown"><i class="fa fa-cog"></i> More <span class="caret"> </span> </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="javascript:void(0);"><i class="fa fa-file-text-alt"></i> Export to PDF</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"><i class="fa fa-question-sign"></i> Help</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="padding-10">
                    <div id="flotcontainer" class="chart-large has-legend-unique"></div>
                  </div>
                </div>
                <!-- end s4 tab pane -->


                <div class="tab-pane fade" id="s5">
                  <div class="widget-body-toolbar bg-color-white smart-form" id="rev-toggles">
                    <div class="inline-group">
                      <label for="gra-0" class="checkbox">
                        <input type="checkbox" name="gra-0" id="gra-0" checked="checked">
                        <i></i> Target
                      </label>
                      <label for="gra-1" class="checkbox">
                        <input type="checkbox" name="gra-1" id="gra-1" checked="checked">
                        <i></i> Actual
                      </label>
                      <label for="gra-2" class="checkbox">
                        <input type="checkbox" name="gra-2" id="gra-2" checked="checked">
                        <i></i> Signups
                      </label>
                    </div>
                    <div class="btn-group hidden-phone pull-right">
                      <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown"><i class="fa fa-cog"></i> More <span class="caret"> </span> </a>
                      <ul class="dropdown-menu pull-right">
                        <li>
                          <a href="javascript:void(0);"><i class="fa fa-file-text-alt"></i> Export to PDF</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"><i class="fa fa-question-sign"></i> Help</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="padding-10">
                    <div id="flotcontainer" class="chart-large has-legend-unique"></div>
                  </div>
                </div>
                <!-- end s5 tab pane -->


              </div>
              <!-- end content -->
            </div>
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
    </div>
  </section>
</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
  <script>
        $(document).ready(function () {
            $(".js-status-update a").click(function () {
                var selText = $(this).text();
                var $this = $(this);
                $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
                $this.parents('.dropdown-menu').find('li').removeClass('active');
                $this.parent().addClass('active');
            });


            /*
            * RUN PAGE GRAPHS
            */

            /* TAB 1: UPDATING CHART */
            // For the demo we use generated data, but normally it would be coming from the server

            var data = [], totalPoints = 200, $UpdatingChartColors = $("#updating-chart").css('color');

            function getRandomData() {
                if (data.length > 0)
                    data = data.slice(1);

                // do a random walk
                while (data.length < totalPoints) {
                    var prev = data.length > 0 ? data[data.length - 1] : 50;
                    var y = prev + Math.random() * 10 - 5;
                    if (y < 0)
                        y = 0;
                    if (y > 100)
                        y = 100;
                    data.push(y);
                }

                // zip the generated y values with the x values
                var res = [];
                for (var i = 0; i < data.length; ++i)
                    res.push([i, data[i]])
                return res;
            }

            // setup control widget
            var updateInterval = 3000;
            $("#updating-chart").val(updateInterval).change(function () {

                var v = $(this).val();
                if (v && !isNaN(+v)) {
                    updateInterval = +v;
                    $(this).val("" + updateInterval);
                }

            });

            // setup plot
            var options = {
                yaxis: {
                    min: 0,
                    max: 100
                },
                xaxis: {
                    min: 0,
                    max: 100
                },
                colors: [$UpdatingChartColors],
                series: {
                    lines: {
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.4
                            }, {
                                opacity: 0
                            }]
                        },
                        steps: false

                    }
                }
            };

            var plot = $.plot($("#updating-chart"), [getRandomData()], options);

            /* live switch */
            $('input[type="checkbox"]#start_interval').click(function () {
                if ($(this).prop('checked')) {
                    $on = true;
                    updateInterval = 1500;
                    update();
                } else {
                    clearInterval(updateInterval);
                    $on = false;
                }
            });

            function update() {
                if ($on == true) {
                    plot.setData([getRandomData()]);
                    plot.draw();
                    setTimeout(update, updateInterval);

                } else {
                    clearInterval(updateInterval)
                }

            }

            var $on = false;

            /*end updating chart*/


            // TAB THREE GRAPH //
            /* TAB 3: Revenew  */

            $(function () {

                var trgt = [[1354586000000, 153], [1364587000000, 658], [1374588000000, 198], [1384589000000, 663], [1394590000000, 801], [1404591000000, 1080], [1414592000000, 353], [1424593000000, 749], [1434594000000, 523], [1444595000000, 258], [1454596000000, 688], [1464597000000, 364]], prft = [[1354586000000, 53], [1364587000000, 65], [1374588000000, 98], [1384589000000, 83], [1394590000000, 980], [1404591000000, 808], [1414592000000, 720], [1424593000000, 674], [1434594000000, 23], [1444595000000, 79], [1454596000000, 88], [1464597000000, 36]], sgnups = [[1354586000000, 647], [1364587000000, 435], [1374588000000, 784], [1384589000000, 346], [1394590000000, 487], [1404591000000, 463], [1414592000000, 479], [1424593000000, 236], [1434594000000, 843], [1444595000000, 657], [1454596000000, 241], [1464597000000, 341]], toggles = $("#rev-toggles"), target = $("#flotcontainer");

                var data = [{
                    label: "Target Profit",
                    data: trgt,
                    bars: {
                        show: true,
                        align: "center",
                        barWidth: 30 * 30 * 60 * 1000 * 80
                    }
                }, {
                    label: "Actual Profit",
                    data: prft,
                    color: '#3276B1',
                    lines: {
                        show: true,
                        lineWidth: 3
                    },
                    points: {
                        show: true
                    }
                }, {
                    label: "Actual Signups",
                    data: sgnups,
                    color: '#71843F',
                    lines: {
                        show: true,
                        lineWidth: 1
                    },
                    points: {
                        show: true
                    }
                }]

                var options = {
                    grid: {
                        hoverable: true
                    },
                    tooltip: true,
                    tooltipOpts: {
                        //content: '%x - %y',
                        //dateFormat: '%b %y',
                        defaultTheme: false
                    },
                    xaxis: {
                        mode: "time"
                    },
                    yaxes: {
                        tickFormatter: function (val, axis) {
                            return "$" + val;
                        },
                        max: 1200
                    }

                };

                plot2 = null;

                function plotNow() {
                    var d = [];
                    toggles.find(':checkbox').each(function () {
                        if ($(this).is(':checked')) {
                            d.push(data[$(this).attr("name").substr(4, 1)]);
                        }
                    });
                    if (d.length > 0) {
                        if (plot2) {
                            plot2.setData(d);
                            plot2.draw();
                        } else {
                            plot2 = $.plot(target, d, options);
                        }
                    }

                };

                toggles.find(':checkbox').on('change', function () {
                    plotNow();
                });
                plotNow()

            });




        });

  </script>
}
