﻿<div class="login-info">
  <span>
    <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
      <img src="~/content/img/avatars/sunny.png" alt="me" class="online" />
      <span>@User.Identity.Name.ToLower()</span>
      <i class="fa fa-angle-down"></i>
    </a>
  </span>
</div>