﻿<!DOCTYPE html>
<html lang="en-us" id="@ViewBag.PageId" class="@Settings.CurrentTheme">
<head>
  <meta charset=" utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title> Indilinga SDL - @ViewBag.Title </title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Basic Styles -->
    @Styles.Render("~/content/ifms")
  <!-- FAVICONS -->
  <link rel="shortcut icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">
  <!-- GOOGLE FONT -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
  <!-- Specifying a Webpage Icon for Web Clip
       Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
  <link rel="apple-touch-icon" href="~/content/img/splash/sptouch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="~/content/img/splash/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="~/content/img/splash/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="~/content/img/splash/touch-icon-ipad-retina.png">
  <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Startup image for web apps -->
  <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
  <link rel="apple-touch-startup-image" href="~/content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
  <link rel="apple-touch-startup-image" href="~/content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
</head>
<body class="@ViewBag.PageClass @Settings.CurrentTheme">
  @{ Html.RenderPartial("_Header", RenderSection("topright", false)); }
  @{ Html.RenderPartialIf("_Aside", Request.IsAuthenticated); }
  <div id="main" role="main">
    @{ Html.RenderPartialIf("_Ribbon", Request.IsAuthenticated); }
    @RenderBody()
  </div>
  @if (Request.IsAuthenticated)
  {
    Html.RenderPartial("_Footer");
    Html.RenderPartialIf("_Tiles", Settings.EnableTiles);
  }
  @{ Html.RenderPartial("_Scripts", RenderSection("pagespecific", false)); }
</body>
</html>