﻿<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script> if (!window.jQuery) { document.write('<script src="/scripts/libs/jquery-2.1.1.min.js"><\/script>'); } </script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script> if (!window.jQuery.ui) { document.write('<script src="/scripts/libs/jquery-ui-1.10.3.min.js"><\/script>'); } </script>
<!-- IMPORTANT: SmartAdmin Core -->
@Scripts.Render("~/scripts/ifms")
@if (Request.IsAuthenticated)
{
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
  <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/scripts/plugin/pace/pace.min.js"></script>
    <!-- Demo purpose only! -->
  <script src="/scripts/demo.min.js"></script>
}
<!-- Voice command : plugin -->
<script src="~/scripts/speech/voicecommand.min.js"></script>
<!-- SmartChat UI : plugin -->
@Scripts.Render("~/scripts/smart-chat")
<!-- DataTables : plugin -->
@Scripts.Render("~/scripts/datatables")
<!-- jQGrid : plugin -->
@Scripts.Render("~/scripts/jq-grid")
<!-- Forms : plugin -->
@Scripts.Render("~/scripts/forms")
<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip, Morris, Sparkline, EasyPie -->
@Scripts.Render("~/scripts/charts")
<!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
@Scripts.Render("~/scripts/vector-map")
<!-- Full Calendar -->
@Scripts.Render("~/scripts/full-calendar")
<!-- Signal R -->
@Scripts.Render("~/scripts/signalr")
<!-- DO NOT REMOVE : GLOBAL FUNCTIONS! -->
<script>
    $(document).ready(function () {
        pageSetUp();
        drawBreadCrumb();
    });
</script>
@if (@Model is HelperResult)
{
  @Model
}
<!-- Your GOOGLE ANALYTICS CODE Below-->
@*<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'xx-xxxxxxxx-x']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
  </script>*@
