﻿@using CustomerPortal.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
}

<h2>Account Sign in</h2>
<div class="row">
	<div class="col-md-8">
		<section id="loginForm">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4>Sign in using the credentials sent to you by your freight or courier service provider</h4>
								<hr />
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
								<div class="form-group">
									@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
									<div class="col-md-10">
										@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
									</div>
								</div>
								<div class="form-group">
									@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
									<div class="col-md-10">
										@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-offset-2 col-md-10">
										<div class="checkbox">
											@Html.CheckBoxFor(m => m.RememberMe)
											@Html.LabelFor(m => m.RememberMe)
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-offset-2 col-md-10">
										<input type="submit" value="Log in" class="btn btn-default" />
									</div>
								</div>
			}
		</section>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}