<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="repositoryConfiguration" type="Afx.Data.Configuration.RepositoryConfiguration, Afx.Data"/>
    <section name="filestreamConfiguration" type="Afx.Data.MsSql.Configuration.FilestreamConfiguration, Afx.Data.MsSql"/>
  </configSections>

  <!--<connectionStrings>
    <add name="Default" connectionString="data source=dred-dv7;Initial Catalog=Afx2Test;User=sa;Password=dred1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->

  <repositoryConfiguration>
    <repositories>
      <repository name="Default" 
                  connectionString="data source=.;Initial Catalog=Afx2Test;User=sa;Password=dred1234" 
                  type="Afx.Data.MsSql.MsSqlRepository, Afx.Data.MsSql"
                  validateSchema="True"/>
    </repositories>
  </repositoryConfiguration>

  <filestreamConfiguration>
    <groups>
      <group name="FG_BINARY" repository="Default">
        <files>
          <file name="FS_BINARY1" folder="D:\Afx2\Binary1"/>
        </files>
      </group>
      <group name="FG_DOCUMENTS" repository="Default">
        <files>
          <file name="FS_DOCUMENTS1" folder="D:\Afx2\Documents1"/>
        </files>
      </group>
    </groups>
  </filestreamConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
