﻿@model CustomerPortal.Models.Waybill
@{
  ViewBag.Title = string.Format("Waybill {0}", @Model.WaybillNumber);
}

<div class="container">
  <h2>Waybill @Model.WaybillNumber</h2>
  <table class="table">
    <tbody>
      <tr>
        <td><b>Waybill Date</b></td>
        <td>@string.Format("{0:d MMM yyyy}", Model.WaybillDate)</td>
      </tr>
      <tr>
        <td><b>Consigner</b></td>
        <td>@Model.Consigner</td>
      </tr>
      <tr>
        <td><b>Origin</b></td>
        <td>@Model.Origin</td>
      </tr>
      <tr>
        <td><b>Consignee</b></td>
        <td>@Model.Consignee</td>
      </tr>
      <tr>
        <td><b>Destination</b></td>
        <td>@Model.Destination</td>
      </tr>
      <tr>
        <td><b>Specified Collection Date</b></td>
        <td>@string.Format("{0:d MMM yyyy}", Model.CollectionDate)</td>
      </tr>
      <tr>
        <td><b>Specified Delivery Date</b></td>
        <td>@string.Format("{0:d MMM yyyy}", Model.DeliveryDate)</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <h3>Cargo</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Description</th>
        <th>Physical Weight</th>
        <th>Volumetric Weight</th>
        <th>Declared Value</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var ci in Model.CargoItems)
      {
        <tr>
          <td>@string.Format("{0:#,##0}", ci.Quantity)</td>
          <td>@ci.Description</td>
          <td>@string.Format("{0:#,##0.00}", ci.PhysicalWeight)</td>
          <td>@string.Format("{0:#,##0.00}", ci.VolumetricWeight)</td>
          <td>@string.Format("{0:#,##0.00}", ci.DeclaredValue)</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="container">
  <h3>Waybill Trace Log</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Text</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var ti in Model.TraceItems)
      {
        <tr>
          <td>@ti.Timestamp</td>
          <td>@ti.Text</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="container">
  <h3>Download Documents</h3>
  <table class="table">
    <tbody>
      @foreach (var ti in Model.Documents)
      {
        <tr>
          <td><a href='/Document/View/@ti.Id' target='_blank'>@ti.Description</a></td>
        </tr>
      }
    </tbody>
  </table>
</div>
