﻿@{
  ViewBag.Title = "Waybills";
}

<h2>Waybills</h2>

<div class="row">
  <table id="tblJQGrid"></table>
  <div id="pager"></div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#tblJQGrid").jqGrid(
			{
			  url: '/Document/Waybills',
			  datatype: "json",
			  mtype: 'GET',
			  colNames: ['Id', 'Waybill', 'Date', 'State', 'Consigner', 'Consignee', 'Delivery City', 'Pod Date'], //, 'Downloads'
			  colModel: [
					{ name: 'id', index: 'id', width: 65, sorttype: 'integer', hidden: true },
					{
					  name: 'DocumentNumber', index: 'DocumentNumber', width: 75, searchoptions: { sopt: ['cn'] }, formatter: 'showlink'
					},
					{
					  name: 'DocumentDate', index: 'DocumentDate', width: 75, searchoptions: {
					    sopt: ['eq'],
					    dataInit: function (elem) {
					      $(elem).datepicker({
					        dateFormat: 'yy/mm/dd', showButtonPanel: true, onSelect: function (dateText, inst) {
					          setTimeout(function () {
					            $('#tblJQGrid')[0].triggerToolbar();
					          }, 100);
					        }
					      })
					    }
					  }, formatter: 'date', formatoptions: { srcformat: 'Y/m/d', newformat: 'd/m/Y' }
					},
					{ name: 'State', index: 'State', width: 150, searchoptions: { sopt: ['cn'] } },
					{ name: 'Consigner', index: 'Consigner', width: 321, searchoptions: { sopt: ['cn'] } },
					{ name: 'Consignee', index: 'Consignee', width: 321, searchoptions: { sopt: ['cn'] } },
					{ name: 'Delivery City', index: 'DeliveryCity', width: 150, searchoptions: { sopt: ['cn'] } },
					{
					  name: 'PodDate', index: 'PodDate', width: 75, searchoptions: {
					    sopt: ['eq'],
					    dataInit: function (elem) {
					      $(elem).datepicker({
					        dateFormat: 'yy/mm/dd', showButtonPanel: true, onSelect: function (dateText, inst) {
					          setTimeout(function () {
					            $('#tblJQGrid')[0].triggerToolbar();
					          }, 100);
					        }
					      })
					    }
					  }, formatter: 'date', formatoptions: { srcformat: 'Y/m/d', newformat: 'd/m/Y' }
					}//,
			    //{ name: 'Links', index: 'Links', width: 150, search: false, sortable: false }
			  ],
			  width: null,
			  shrinkToFit: false,
			  height: 'auto',
			  rowNum: 20,
			  rowList: [20, 30, 50],
			  pager: '#pager',
			  sortname: 'DocumentDate',
			  viewrecords: true,
			  sortorder: "desc",
			  //caption: "Waybills",
			  scrollOffset: 0
			});

    $("#tblJQGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, clearSearch: false, searchOperators: true });
  });
</script>