﻿@model FreightManagement.Business.WaybillReference

@{
    ViewBag.Title = "Waybill Summary";
    Layout = "_Layout.cshtml";
}

<h2>WaybillSummary</h2>

<div>
    <h4>Waybills</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WaybillNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaybillNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaybillDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaybillDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consigner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consigner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consignee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consignee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Items)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Items)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysicalWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeclaredValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeclaredValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountingOrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountingOrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PODDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PODDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PODSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PODSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PODHandoverCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PODHandoverCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
