﻿@{
    ViewBag.Title = "Contact";
}
<h2>Contact the developers</h2>
<h3>Indilinga SDL International Support</h3>

<div class="container">
    
    <strong>Address:</strong>
    2 Brandberg Road, Eros, Windhoek, Namibia<br /><br/>

    <strong>Telephone:</strong>
    +264 61 401 208<br/><br />

    <strong>Email:</strong>
    <a href="mailto:helpdesk@indilinga.com">helpdesk@indilinga.com</a><br/><br/>

    <a href="https://www.indilinga.com">Visit our Website</a><br />


</div>