﻿
@{
    ViewBag.Title = "Home";
}

<h2>About</h2>
<h3>Indilinga Freight Management System - Online Portal</h3>

<div class="container"
     
    <p> We hope that the Online Portal is helping you get the most out of the services provided to you by your freight or courier service provider. We are constantly looking to improve the service and any feedback or suggestions are appreciated. </p>
    <a href="mailto:helpdesk@indilinga.com">Send Feedback</a>

    <h3>Current Features include:</h3>

    <h4>Waybill Tracing</h4>

    <p>Click on the applicable waybill number to view tracing information about that waybill</p>

    <h4>Waybill Filter</h4>

    <p>Filter all your active waybills by entering a filter term above the applicable column</p>

    <h4>Document Download</h4>

    <p>Click on the applicable waybill number to download POD, cross boarder & other supporting documentation applicable to that waybill</p>

</div>