﻿@model HandleErrorInfo
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
  <div class="text-left error-box">
    <h1 class="bounceInDown animated alert alert-danger"><i class="fa fa-fw fa-warning fa-lg"></i> Ruh-roh, Raggy!</h1>
    <h2 class="font-xl"><strong>I done told you not to mess up...</strong></h2>
    <br />
    <p class="lead">
      Well? Don't just sit there looking like a tree full of owls! Nothing goes over the devil's back that doesn't come under his belly so y'all better be fixin' to do something!
    </p>
    <p class="font-md">
      <b>Your session has been logged off for security purposes.</b>
    </p>
  </div>
</div>
