﻿<h5 class="text-center">- Or sign in using -</h5>
<ul class="list-inline text-center">
  <li>
    <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
  </li>
  <li>
    <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
  </li>
  <li>
    <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
  </li>
</ul>