﻿@{
  ViewBag.PageId = "extr-page";
}
@section topright{
  <span id="extr-page-header-space"> <span class="hidden-mobile">Already registered?</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">Sign In</a> </span>
}
<div id="content" class="container">
  <div class="row">
    @{ Html.RenderPartial("_LoginText"); }
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
      <div class="well no-padding">
        <form action="@Url.Action("forgotpassword", "account")" method="POST" id="login-form" class="smart-form client-form">
          <header>
            Reset password
          </header>
          @Html.AntiForgeryToken()
          @Html.ValidationBootstrap()
          <fieldset>
            <section>
              <label class="label">E-mail</label>
              <label class="input">
                <i class="icon-append fa fa-envelope"></i>
                <input type="email" name="email">
                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter the email address the account was registered with</b>
              </label>
              <div class="note">
                <a href="@Url.Action("login", "account")"><i class="fa fa-smile-o"></i> I remembered my password!</a>
              </div>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-envelope"></i>
              Send email
            </button>
          </footer>
        </form>
      </div>
      @{ Html.RenderPartial("_SocialMedia"); }
    </div>
  </div>
</div>
@section pagespecific{
  <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
  </script>
}