﻿@model AccountRegistrationModel
@{
  ViewBag.PageId = "extr-page";
}
@section topright{
  <span id="extr-page-header-space"> <span class="hidden-mobile">Already registered?</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">Sign In</a> </span>
}
<div id="content" class="container">
  <div class="row">
    @{ Html.RenderPartial("_LoginText"); }
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
      <div class="well no-padding">
        <form action="@Url.Action("register", "account")" method="POST" id="smart-form-register" class="smart-form client-form">
          <header>
            Registration
          </header>
          @Html.AntiForgeryToken()
          @Html.ValidationBootstrap()
          <fieldset>
            <section>
              <label class="input">
                <i class="icon-append fa fa-user"></i>
                <input type="text" name="username" placeholder="Username" id="username" autocomplete="off" value="@Model.Username">
                <b class="tooltip tooltip-bottom-right">(Optional) Used to display the profile name on the website</b>
              </label>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-envelope"></i>
                <input type="email" name="email" placeholder="Email address" id="email" autocomplete="off" value="@Model.Email">
                <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
              </label>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-envelope"></i>
                <input type="email" name="emailConfirm" placeholder="Confirm email address" autocomplete="off" value="@Model.EmailConfirm">
                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
              </label>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-lock"></i>
                <input type="password" name="password" placeholder="Password" id="password" autocomplete="off">
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
              </label>
            </section>
            <section>
              <label class="input">
                <i class="icon-append fa fa-lock"></i>
                <input type="password" name="passwordConfirm" placeholder="Confirm password" autocomplete="off">
                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
              </label>
            </section>
          </fieldset>
          <fieldset>
            <div class="row">
              <section class="col col-6">
                <label class="input">
                  <input type="text" name="firstname" placeholder="First name">
                </label>
              </section>
              <section class="col col-6">
                <label class="input">
                  <input type="text" name="lastname" placeholder="Last name">
                </label>
              </section>
            </div>
            <div class="row">
              <section class="col col-6">
                <label class="select">
                  <select name="gender">
                    <option value="0" selected="selected" disabled="disabled">Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Prefer not to answer</option>
                  </select> <i></i>
                </label>
              </section>
              <section class="col col-6">
                <label class="input">
                  <i class="icon-append fa fa-calendar"></i>
                  <input type="text" name="birthdate" placeholder="Birthdate" class="datepicker" data-dateformat='dd/mm/yy'>
                </label>
              </section>
            </div>
            <section>
              <label class="checkbox">
                <input type="checkbox" name="terms" id="terms">
                <i></i>I agree with the <a href="#" data-toggle="modal" data-target="#myModal"> Terms and Conditions </a>
              </label>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-primary">
              Register
            </button>
          </footer>
          <div class="message">
            <i class="fa fa-check"></i>
            <p>
              Thank you for your registration!
            </p>
          </div>
        </form>
      </div>
      @{ Html.RenderPartial("_SocialMedia"); }
    </div>
  </div>
</div>
@{ Html.RenderPartial("_TermsAndConditions"); }
@section pagespecific{
  <script type="text/javascript">
        // Model i agree button
        $("#i-agree").click(function () {
            var $this = $("#terms");
            if ($this.checked) {
                $('#myModal').modal('toggle');
            } else {
                $this.prop('checked', true);
                $('#myModal').modal('toggle');
            }
        });

        // Validation
        $(function () {
            // Validation
            $("#smart-form-register").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    emailConfirm: {
                        required: true,
                        email: true,
                        equalTo: '#email'
                    },
                    password: {
                        required: true,
                        minlength: 4,
                        maxlength: 20
                    },
                    passwordConfirm: {
                        required: true,
                        minlength: 4,
                        maxlength: 20,
                        equalTo: '#password'
                    },
                    firstname: {
                        required: false
                    },
                    lastname: {
                        required: false
                    },
                    gender: {
                        required: false
                    },
                    terms: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    emailConfirm: {
                        required: 'Please enter your email address one more time',
                        email: 'Please enter a VALID email address',
                        equalTo: 'Please enter the same email address as above'
                    },
                    password: {
                        required: 'Please enter your password'
                    },
                    passwordConfirm: {
                        required: 'Please enter your password one more time',
                        equalTo: 'Please enter the same password as above'
                    },
                    terms: {
                        required: 'You must agree with Terms and Conditions'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
  </script>
}